
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');
*
{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: rgb(17, 21, 30);


}
.back img
{
    position: absolute;
    opacity: 7%;
    width: 1500px;
}
.back2
{
    width: 100%;
}
.back2 img
{

    left: 700px;
    position: absolute;
    opacity: 6%;
    width: 1770px;
}

.back3
{
    width: 100%;
}
.back3 img
{
    position: absolute;
    opacity: 3%;
    width: 1900px;
    margin-bottom: 1000px;
}

.back4
{
    width: 100%;
}
.back4 img
{
    left: 700px;
    position: absolute;
    opacity: 20%;
    width: 1000px;
    mix-blend-mode: lighten;
}

.back5
{
    width: 100%;
}
.back5 img
{
    left: 250px;
    position: absolute;
    opacity: 12%;
    width: 1500px;
    mix-blend-mode: lighten;
}



header
{
    font-family: 'Bebas Neue', cursive;
    align-items: center;
    display: flex;
    z-index: 999;
    margin: auto;
    justify-content: center; 
    background-color: #20263500;
    

}
.frist-nav a
{
    text-decoration: none;
    padding :12px 30px;
    margin: 20px 7px;  
    font-size: 12px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    border-radius: 4px;   

    
}
.frist-nav a:hover
{
    background-color:rgba(255, 255, 255, 0.083) ; 
}
.second-nav a
{
    background-color: #20263500;
    text-decoration: none;
    padding :12px 30px;
    margin: 30px 6px;  
    font-size: 12px;
    font-weight: 700;
    color: aliceblue;
    border-radius: 4px;
}

.second-nav a:hover
{
    background-color:rgba(255, 255, 255, 0.116) ; 
}
.header-image
{
    padding: 35px;
    background-color: #20263500;

}


/*----------------------------------------------------<   Section (1) >------------------------------------------------*/

.frist-section
{
    margin-top:130px ;
    display: flex;
    text-align: center;
    background-color: #20263500;

}
    
.soial-media 
{
    writing-mode: vertical-lr;
    margin: 0px 50px ;
    text-transform: uppercase;
    transform: rotate(180deg);
    padding-left:150px ;
    animation-name: movee;
    animation-duration: 3s;
    background-color: #20263500;


}
.soial-media a 
{
    text-decoration: none;
    color: rgba(238, 238, 238, 0.482);
    padding: 20px;
    font-size: 13;
    font-weight: 500;
    background-color: #20263500;

}
.soial-media a:hover
{
    color: rgba(140, 255, 0, 0.804);
    background-color: #20263500;

}
.mmain
{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    background-color: #20263500;

}
.main
{
    font-size: 20px;
    color: rgba(141, 222, 0, 0.915);
    margin-top: 50px;
    animation-name: move;
    animation-duration: 1s;
    margin-left: 330px;
    background-color: #ff000000;


}
.main span
{
    font-size: 60px;
    color: aliceblue;
    animation-name: move;
    animation-duration: 2s;
    background-color: #20263500;

    


}
.main a 
{
    text-decoration: none;
    color: #eee;
    text-transform: uppercase;
    padding: 20px 25px;
    font-size: 13px;
    animation-name: move;
    animation-duration: 3s;

}





.learn-more
{
    background-color:rgba(141, 222, 0, 0.847); 
    border-radius: 6px;
    
    


}
.scrol-down
{
    color: #eee;
    text-align: center;
    margin-top: 230px;
    animation-name : color ;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    opacity: 40%;

}







.container-for-head
{
    width: 100%;
    justify-content: center;
    flex-direction: row;
    display: flex;
    align-items: center;
}
.green-line
{

    font-size: 20px;
    color: #77ff00;
    margin-left:250px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text-partt
{
    width: 30%;
    margin-left: 100px;
}
.my-text
{
    font-size: 50px;
    color: aliceblue;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.my-text span
{
    color: #77ff00;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text-for-subtitle
{
    margin: 30px 0px;
    font-size: 15px;
    width: 400px;
    color: #eeeeeea6;
    line-height: 35px;
}
.img-partt
{
    width: 40%;
    margin-left: 100px;

}
.frist-imge img
{
}
.image
{
    position: absolute;
    width: 450px;
    margin-left: 180px;
}
.images2
{
    position: relative;
    width: 500px;
    left: 80px;
    top: 40px;
}
.overlay-iconn i
{
    width: fit-content;
    color: #eeeeee4c;
    opacity: 100%;
    position: relative;
    transition: 0.6s;
    background-color:rgba(255, 140, 0, 0) ;
    font-size: 80px;
    bottom: 170px;
    left: 290px;
    z-index: 100;
}
.overlay-iconn i:hover
{
    scale: 1.5;
}
.meet
{
    font-size: 16px;
    color: rgba(141, 222, 0, 0.915);
    width: fit-content;
    border: 1px solid rgb(157, 255, 0) ;
    text-transform: uppercase;
    padding: 15px 30px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
}

.text-scrol
{
    color: #eee;
    text-align: center;
    font-size: 13px ;
    margin-top: 10px;
    opacity: 40%;
    margin-bottom: 500px;
}
.main-page2
{
    font-size: 20px;
    color: rgba(141, 222, 0, 0.915);
    display: flex;
    flex-direction: row;
    justify-content:center ;
}
.main-page2 span
{
    font-size: 40px;
    color: rgba(141, 222, 0, 0.915);
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.h9-aa
{
    color: #eee;
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
    font-size: 50px ;
    margin-top: 250px;
}
.h9-a
{
    color: #eee;
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
    font-size: 50px ;
    margin-top: 30px;
}
.h9-a span
{
    color: #80ff00eb;
}

.h9-home2
{
    color: #77ff00;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

}
.h9-home span 
{
    font-size: 20px ;
    color: rgba(141, 222, 0, 0.915);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.flex
{
    background-color: rgba(240, 248, 255, 0);
    width: 100%;
    padding-top: 30px;
    display: flex;    
    justify-content: space-between;

}
.flex div
{
    background-color: rgba(255, 255, 255, 0.109);
    color: aliceblue;
    border-left: solid rgb(157, 255, 0) 2px ;
    text-align: right;
    width: 30%;
    padding: 20px;
    margin-left: 300px;
    font-size: 20px; 
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.flex nav
{ 
    background-color: rgba(255, 255, 255, 0.109);
    border-right: solid rgb(157, 255, 0) 2px ;
    color: aliceblue;
    text-align: left;
    width: 30%;
    padding: 20px;
    margin-right: 300px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.flex p
{
    color: #eee;
    width: fit-content;
    margin: auto;
    font-size: 30px; 
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.flexs 
{
    justify-content: center;
    margin: 20px;
    display: flex;   
}
.twich
{
    color: #eeeeee9e;
    width: fit-content;
    font-size: 10px;
    text-transform: uppercase;
    margin-left: 150px;
    margin-right: 150px;
}
.twich a 
{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
    color: #eeeeee9e;
}
.meet-team
{
    margin-top: 250px;
    color: #eee;
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
    font-size: 40px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.meet-team span
{
    color: rgba(141, 222, 0, 0.915);
    font-size: 20px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.content
{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card img
{
    background-color: #b7ff00;
}
.imgess img
{    
    
    width: 350px;
    margin-left:20px ;
    margin-right:20px ;
    margin-top: 50;

}
.inform 
{
    background-color: #656565;
    width: 350px;
    margin-left:20px ;
    margin-right:15px ;
    font-size: 25px ;
    text-transform: uppercase;
    color: #eee;
    border-left: solid rgb(157, 255, 0) 4px ;
    z-index: 3;
    padding-top: 20px;
    padding-left:20px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
.information
{
    background-color: #656565;
    font-size: 15px ;
    text-transform: uppercase;
    color: #eee;
    border-left: solid rgb(157, 255, 0) 4px ;
    width: 350px;
    margin-left:20px ;
    margin-right:15px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left:20px ;
    padding-bottom: 20px;
}

.boss
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 300px;
    padding-left:200px;
    padding-right:200px;
    align-items: center;
}
.blog
{
    color: #88ff00;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.blog span
{
    color: #ffffff;
    text-transform: uppercase; 
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.see
{
    border-radius: 10%;
    border: #88ff00 solid 1px;
    color: #88ff00;
    width: fit-content;
    font-size: 25px;
    text-transform:uppercase ;
    padding: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}






.boss2
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center ;
}
.crt
{
    color: #eee;
    margin: 20px;
}
.crt img
{
    width: 470px;
}
.text-boss
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}
.text-A
{
    color: #bfff00b9;
    border: #c8ff00c1 solid 1px;
    background-color: #88ff0036;
    padding: 3px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text-B
{
    color: #707070;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}
.text-c
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    color: #eee;
    font-size: 25px;
    margin-top: 30px;
}





.boss3
{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #ffffff15;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    padding: 40px;
    margin-top: 250px;
}

.text3
{
    color: #ffffff;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ffffff00;
    margin: 50px;
}


.text33
{
    color: #ffffffab;
    font-size: 20px;
    margin: 0px 60px;
    background-color: #ffffff00;
    width: 50%;


}
.text333
{
    color: #eee;
    background-color:rgba(141, 222, 0, 0.847); 
    text-transform: uppercase;
    width: fit-content;
    border: rgba(141, 222, 0, 0.847) solid 1px; 
    border-radius: 6%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    margin-right: 50px;
    text-decoration: none;
}
.header4
{
    text-align: center;
    font-size:50px;
    color: #eee;
    text-transform: uppercase;
    margin-top: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.header4 span
{
    color: #88ff00;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-top: 10px; 
}
.boss4 
{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px; 
}
.boss4 img
{
    margin: 20px;
}
.boss4 img:hover
{
    color: black;
}
.asd
{
    position: relative;
    bottom: 100px;
}
footer
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.082);
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    padding: 20px;
    padding-left: 250px;
    padding-right: 250px;

}
.footer
{
    display: flex;
    color: #eee;
    background-color: rgba(50, 50, 50, 0);
}
.footer span
{
    display: flex;
    color: #77ff00;
    background-color: rgba(50, 50, 50, 0);
}

.crot
{
    display: flex;
    color: #eee;
    background-color: rgba(50, 50, 50, 0);

}
.crot div
{
    padding: 20px;
    background-color: rgba(50, 50, 50, 0);
}

.foot
{
    align-items: center;
    display: flex;
    z-index: 999;
    justify-content: center; 
    animation-name: opp;
    animation-duration: 3s;
}
.fristt-div a
{
    text-decoration: none;
    padding :12px 30px;
    font-size: 12px;
    font-weight: 700;
    color: aliceblue;
    border-radius: 4px;   
}
.fristt-div a:hover
{
    background-color:rgba(255, 255, 255, 0.116) ; 
}
.secondd-div a 
{
    text-decoration: none;
    padding :12px 30px;
    font-size: 12px;
    font-weight: 700;
    color: aliceblue;
    border-radius: 4px;
}
.secondd-div a:hover
{
    background-color:rgba(255, 255, 255, 0.116) ; 
}

.container
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 100px;
    
}
.boss5
{
    width: 20%;
}
.iimg img
{
    width: 400px;
    position: absolute;
}
.overlay
{
    width: 400px;
    height: 400px;
    color: #eee;
    background-color: rgb(0, 0, 0);
    opacity: 0%;
    position: relative;
    transition: 0.6s;
}
.overlay2
{
    width: 400px;
    height: 400px;
    color: #eee;
    background-color: rgb(0, 0, 0);
    opacity: 0%;
    position: relative;
    transition: 0.6s;
}
.overlay3
{
    width: 400px;
    height: 400px;    color: #eee;
    background-color: rgb(0, 0, 0);
    opacity: 0%;
    position: relative;
    transition: 0.6s;
}
.overlay4
{
    width: 400px;
    height: 400px;
    color: #eee;
    background-color: rgb(0, 0, 0);
    opacity: 0%;
    position: relative;
    transition: 0.6s;
}
.overlay-icon
{
    width: fit-content;
    padding: 30px;
    color: #eee;
    background-color: rgb(61, 61, 61);
    opacity: 0%;
    position: relative;
    transition: 0.6s;
    bottom: 250px; 
    left: 150px;
    font-size: 40px;
}
.overlay-icon a 
{
    background-color: rgb(61, 61, 61);
    text-decoration: none;

}
.overlay-icon i
{
    background-color: rgb(61, 61, 61);
    color: white;


}
.boss5:hover .overlay-icon
{
    opacity: 1;
    animation-name: move;
    animation-duration: 0.7s;
}
.boss5:hover .overlay
{
    opacity: 0.8;
} 
.boss5:hover .overlay2
{
    opacity: 0.8;
}
.boss5:hover .overlay3
{
    opacity: 0.8;
}
.boss5:hover .overlay4
{
    opacity: 0.8;
}

.bodyy
{
    background-color: #ff0000;
    color: #eee;
    background-color: #20263500;

}
.sectionn
{
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #20263500;

}
.title
{
    font-size: 3rem;
    margin: 2rem 0rem;
    background-color: #20263500;

    
}








.main-about
{
    margin-top: 100px;
    width: 100%;
    color: aliceblue;
    background-color: #20263500;
}
.main-text-about
{
    text-align: center;
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 30px;
    background-color: #20263500;

}
.main-text-about span
{
    text-align: center;
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #b7ff00b4;
    background-color: #20263500;

}
.main-about h1
{
    text-align: center;
    color: rgba(141, 222, 0, 0.915);
    font-size: 23px;
    animation-name: move;
    animation-duration: 2s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header-about
{
    background-color: #20263500;
}
.main-about img
{
    margin-top: 80px;
    margin-left: 300px;
    z-index: 9;
    margin-bottom: 300px;
    opacity: 100%;
}
.overlay-iconn-about a i
{

    color: rgba(238, 238, 238, 0.471);
    opacity: 100%;
    transition: 0.6s;
    position: relative;
    background-color:rgba(255, 140, 0, 0) ;
    font-size: 100px;
    left: 880px;
    bottom: 650px;
    z-index: 100;
}
.overlay-iconn-about a i:hover
{
    scale: 1.5;
}

.text3-about
{
    color: #ffffff;
    font-size: 65px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #20263500;
    margin: 50px;
    margin-right: 300px;

}
.text3-about span
{
    color: #b7ff009f; 
    font-size: 65px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #20263500;
}


.boss3-about
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #20263587;
    justify-content: center;
    align-items: center;
    padding: 90px;
    margin-top: 150px;
}

.boss3-about img
{
    width: 150px;
    background-color: #20263500;
}
.boss3-about input
{
    width: 500px;
    padding: 20px;
    border-radius: 4px;
    background-color: #20263500;
    border: solid 1px rgba(128, 128, 128, 0.683);
    color: #707070;
    font-size: 20px;
}
.inputbox
{
    background-color: #20263500;
    display: flex;
    flex-direction: column;

}
.inputbox a
{
    text-decoration: none;


}
.inputbox form
{
    display: flex;
    flex-direction: column;
    background-color: #20263500;
}
.send-email
{
    width: 500px;
    padding: 20px;
    border-radius: 4px;
    background-color: #a2ff00af;
    border: solid 1px rgba(128, 128, 128, 0.683);
    color: #ffffff;
    font-size: 20px;  
    font-weight: 100px; 
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
}
button
{
    border-radius: 4px;
    background-color: #a2ff00af;
    color: #ffffff;
    font-size: 20px;  
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    padding: 20px 40px;
} 

.inputbox button
{
    width: 500px;
    padding: 20px;
    border-radius: 4px;
    background-color: #a2ff00af;
    border: solid 1px rgba(128, 128, 128, 0.683);
    color: #ffffff;
    font-size: 20px;  
    font-weight: 100px; 
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;     
}



.container2
{
    width: 100%;
    padding: 0px 280px;

}
.content2
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;

}
.content-text2
{
    font-size: 20px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 50%;
    padding: 0px 40px;

}
.content-text22
{
    font-size: 60px;
    color: white;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.green-line-about
{
    font-size: 40px;
    color: rgb(77, 255, 0);
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.content-text22 span
{
    font-size: 60px;
    color: rgba(153, 255, 0, 0.724);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.content-p2
{
    color: #c7c7c7;
}

.frist-imge-about
{
    width: 50%;
}
.image2
{
    position: absolute;
    width: 500px;
    background-color: #3f3f3f00;
    margin-top: 150px;
    margin-left: 100px;

}
.images22
{
    position: relative;
    width: 450px;
    left: 80px;
    top: 20px;

}










.container3
{
    width: 100%;
    padding: 100px;

}
.anuvis-team-story
{
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    margin-top: 100px;
}
.anuvis-team-story span
{
    font-size: 50px;
    background-color: rgba(106, 255, 0, 0);
    color: rgb(157, 255, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
    text-align: center;
    width: 100%;
    text-transform: uppercase;
}

.box3
{
    flex-wrap:nowrap ;
    display: flex;
    flex-direction: row;
    color: cornsilk;
    border-left: #77ff00 solid 2px  ;
    border-right: #77ff00 solid 2px  ;
    background-color: rgba(255, 255, 255, 0.064);
    justify-content: center;
    
}
.box3 div
{
    background-color: rgba(34, 0, 0, 0);
    font-size: 20px;
    width: 20%;
    color: rgb(125, 125, 125);
    margin: 50px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
}
.box3 div span
{
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.green-line-about44
{
    font-size: 40px;
    color: rgb(77, 255, 0);
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container4
{
    width: 100%;
}
.content4
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.content-text4
{
    font-size: 20px;
    color: white;
    width: 25%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 100px;

}
.content-text44 span
{
    font-size: 60px;
    color: rgba(153, 255, 0, 0.724);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.content-p4
{
    color: #ffffff87;
    margin-top: 20px;
    line-height: 45px;
    font-size: 20px;
}
.content-p4 span
{
    font-size: 32px;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.frist-imge-about4 
{
    width: 40%;
}
.frist-imge-about4 img
{
    width: 400px;
    margin-bottom: 50px;
}




.meet-team5
{
    margin-top: 250px;
    color: rgba(141, 222, 0, 0.915);
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
    font-size: 20px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 200px;
}
.meet-team5 span
{
    color: #eee;
    font-size: 70px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.content6
{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card6 img
{
    background-color: #b7ff00;
}
.imgess6 img
{    
    
    width: 350px;
    margin-left:20px ;
    margin-right:20px ;
    margin-top: 50;

}
.inform6 
{
    width: 350px;
    margin-left:20px ;
    margin-right:15px ;
    margin-top: 50px;
    font-size: 35px ;
    text-transform: uppercase;
    color: #eee;
    z-index: 3;
    padding-top: 20px;
    padding-left:20px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;


}
.information6
{
    font-size: 25px ;
    text-transform: uppercase;
    color: #b7ff00;
    width: 350px;
    margin-left:20px ;
    margin-right:15px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left:20px ;
    padding-bottom: 20px;
    text-align: center;
    margin-top: 50px;
}
.icons6 i
{
    text-align: center;
    color: rgba(255, 255, 255, 0.281);
    margin: 0px 20px;  
}
.icons6 
{
    text-align: center;
    color: rgba(255, 255, 255, 0.234);
    margin: 0px 20px;  
    margin-top: 60px ;
}





.container7
{
    width: 100%;
    padding: 150px;
}
.card7
{
    background-color: #ffffff17;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    border-left: #b7ff00 1px solid;
    border-right: #b7ff00 1px solid;
    align-items: center;
}
.frist-part7
{
    color: white;
    background-color: rgba(245, 222, 179, 0);
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 50px;

}
.frist-part7 div
{
    background-color: rgba(245, 222, 179, 0);
    flex-direction: column;
    display: flex;
    color: white;
    font-size: 30px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    margin: 20px;
} 
.frist-part7 div img
{
    width: 130px;
    background-color: #20263500;
    position: relative;

}
.frist-part7 div span
{
    background-color: rgba(245, 222, 179, 0);
    flex-direction: column;
    display: flex;
    color: rgba(255, 255, 255, 0.29);
    font-size: 15px ;
    text-transform: uppercase;
}
.second-part7
{
    color: white;
    background-color: rgba(245, 222, 179, 0);
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
}
.second-part7 div
{
    background-color: rgba(245, 222, 179, 0);
    flex-direction: column;
    display: flex;
    margin: 80px;
    color: white;
    font-size: 30px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;

}
.second-part7 div span
{
    background-color: rgba(245, 222, 179, 0);
    flex-direction: column;
    display: flex;
    color: rgba(255, 255, 255, 0.29);
    font-size: 15px ;
    text-transform: uppercase;
}





.container8
{
    width: 100%;
    padding: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.card8
{
    border: #3f3f3f solid 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.card8 i
{
    color: #77ff0080;
    font-size: 25px;
    margin: 15px;
}
.numbers8
{
    color: white;
    font-size: 60px;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;

}
.inform8
{
    font-size: 15px;
    color: rgb(255, 255, 255); 
    margin: 15px;
    text-transform: uppercase;
}
.inform8 span
{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.324); 
}




.h9
{
    color: white;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 300px;

}
.h9 span
{
    color: rgb(0, 255, 30);
    font-size: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


.boss9
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    margin-top: 50px;
}
.iiimg
{
    width: 100%;
    margin-left: 150px;
    position: absolute;
}
.iiimg img
{
    
    padding: 15px;
    width: 30%;

}

.overlay-iconn2 i
{
    color: #eeeeee4c;
    opacity: 100%;
    position: relative;
    transition: 0.6s;
    background-color:rgba(255, 140, 0, 0) ;
    padding: 106px 100px; 
    font-size: 80px;
    z-index: 100; 
    text-align: center;
    width: 30%;
    margin: 12px;
    margin-top: 15px;
    left: 30px;

}
.overlay-iconn2 i:hover
{
    scale: 1.5;
}




.container9
{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.card9
{
    background-color: rgba(255, 255, 255, 0.071);
    margin: 10px;
    text-align: center;
    padding: 80px  150px;
    width: 24% ;
}
.card9 i
{
    color: #77ff0080;
    font-size: 70px;
    background-color: #20263500;
}
.numbers9
{
    color: white;
    font-size: 20px;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px 0px;
    background-color: #20263500;
    text-transform: uppercase;
}

.numbers9 span
{
    color: rgba(255, 255, 255, 0.387);
    font-size: 15px;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
    text-transform: uppercase;
    background-color: #20263500;
}
.card9:hover
{
    border: #77ff00 solid 1px;
}



.h10
{
    color: white;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 300px;

}
.h10 span
{
    color: rgb(0, 255, 30);
    font-size: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container10
{
    width: 100%;
}
.crt10
{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center; 
}
.card10
{
    border: #b8b8b8 solid 1px;
    margin: 15px;
    margin-top: 90px;
    padding: 40px 120px; 

}
.card10 img
{

    color: #ffffff80;
    font-size: 50px;
    width: 180px;
}
.numbers10
{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




.container11
{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 200px;
}
.container11 img
{
    width: 50%;
}
.container11 div
{
    width: 50%;
    color: white;
}




.meet-team12
{
    margin-top: 250px;
    color: #84ff00b1;
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
    font-size: 30px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 200px;
}
.meet-team12 span
{
    color: rgba(255, 255, 255, 0.915);
    font-size: 70 ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}


.meet-team13
{
    margin-top: 250px;
    color: #84ff00b1;
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
    font-size: 30px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.meet-team13 span
{
    color: rgba(255, 255, 255, 0.915);
    font-size: 90 ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.container13
{
    width: 100%;
    padding: 100px;
}
.card13
{
    background-color: rgba(255, 255, 255, 0.076);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    border-left: chartreuse solid 1px ;
    border-right: chartreuse solid 1px;
}
.card13 div
{
    color: rgba(255, 255, 255, 0.531);
    background-color: rgba(255, 255, 255, 0);
    font-size: 30px;
    margin: 40px;
}
.card13 i 
{
    background-color: rgba(255, 255, 255, 0);
    color: #77ff00a3;
    font-size: 30px;
}






.text14
{
    color: white;
    font-size: 70px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.text14 span
{
    color: #77ff00;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p-14
{
    color: rgba(255, 255, 255, 0.52);
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
}


.container14
{
    width: 100%;
    margin-top: 100px;


}
.frist-part-input
{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}
.frist-part-input input
{
    padding: 25px 30px;
    color: rgba(255, 255, 255, 0.437);
    margin: 20px;
    border: #585858 solid 1px;
    border-radius: 8px;
    font-size: 25px;
    width: 600px;
}


.second-part-input
{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;

}
.second-part-input input
{
    padding: 25px 30px;
    color: rgba(255, 255, 255, 0.437);
    margin: 20px;
    border: #585858 solid 1px;
    border-radius: 8px;
    font-size: 25px;
    width: 600px;


}
.last-part-input textarea
{
    padding: 25px 30px;
    color: rgba(255, 255, 255, 0.437);
    margin: 20px;
    border: #585858 solid 1px;
    border-radius: 8px;
    font-size: 25px;
    justify-content: center;
    width: 1245px;
    height: 250px;
}
.last-part-input 
{
    width: 100%;
    display: flex;
    justify-content: center;
}
.frist-part-input input:target
{
    color: #77ff00;
}
.send-emaill
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.send-emaill a
{
    padding: 30px 35px;
    border-radius: 5px;
    background-color: #a2ff00af;
    color: #ffffff;
    font-size: 20px;  
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.4s;
}
.send-emaill a:hover
{
    background-color: #a2ff0092;
}




.container-player
{
    width: 100%;
}
.content4-player
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 200px;
}
.content-text4-player
{
    font-size: 20px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.content-text44-player span
{
    font-size: 60px;
    color: rgba(153, 255, 0, 0.724);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.content-p4-player
{
    color: #ffffff9d;
    margin-top: 20px;
    line-height: 43px;
    font-size: 19px;
    width: 33%;
    margin: 70px;

}
.content-p4-player span
{
    font-size: 32px;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}





@keyframes color
{
    from 
    {

    } 
    to 
    {
        transform: translateY(5px);
    }
}
@keyframes move 
{
    from 
    {
        opacity: 0%;
        transform: translateY(50px);
    }
    to
    {
        opacity: 100%;
        transform: translateY();
    }
}
@keyframes movee
{
    from 
    {
        opacity: 0%;
    }
    to
    {
        opacity: 100%;
    }
}

@keyframes opp 
{
    from 
    {
        opacity: 0%;
    }
    to 
    {
        opacity: 100%;
    }

}
    
